[submodule "third_party/VITRA"]
	path = third_party/VITRA
	url = https://github.com/dragonlong/VITRA.git
[submodule "third_party/openpi"]
	path = third_party/openpi
	url = https://github.com/dragonlong/openpi.git
[submodule "third_party/InternVLA-M1"]
	path = third_party/InternVLA-M1
	url = https://github.com/dragonlong/InternVLA-M1.git
